@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
  scroll-behavior: smooth;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

a {
  color: unset;
}

a:hover {
  color: unset;
  text-decoration: unset;
}

a:visited {
  color: unset;
}

:root h1 {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 4px;
  margin: 0;
}

:root h2 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 3px;
  margin: 0;
}

:root h3 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
}

:root h4 {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 2px;
  margin: 0;
}

:root h5 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}

:root p {
  font-size: 14px;
  margin: 0%;
}

ul,
ol {
  list-style: none;
  margin: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

@media (max-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .container {
  width: 100vw;
}

nav .container .logo {
  background-image: url(/img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  border-bottom: 1px solid gray;
}

@media (max-width: 768px) {
  nav .container .logo {
    width: 100px;
    height: 50px;
    margin: 0;
    margin-left: 10px;
    float: left;
    z-index: -1;
    border-bottom: none;
  }
}

nav .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  width: 50%;
  margin: auto;
}

@media (max-width: 1024px) {
  nav .container .links {
    width: 70%;
  }
}

@media (max-width: 768px) {
  nav .container .links {
    display: none;
  }
  nav .container .links.active {
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 9999;
    width: 80%;
    background-color: white;
  }
}

nav .container .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  nav .container .links .link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .container .links .link a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container .links .link a .pic {
  background-image: url(/img/svg/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

nav .container .burger {
  display: none;
}

@media (max-width: 768px) {
  nav .container .burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    float: right;
  }
}

main .banner img {
  margin-top: 181px;
  width: 100%;
}

@media (max-width: 768px) {
  main .banner img {
    margin-top: 50px;
  }
}

main .container {
  max-width: 60%;
  margin: auto;
}

@media (max-width: 1024px) {
  main .container {
    max-width: 90%;
  }
}

main .container .about {
  padding: 25px 0;
}

@media (max-width: 768px) {
  main .container .about {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 320px) {
  main .container .about {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

main .container .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .products .product {
  width: calc(33% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  main .container .products .product {
    width: calc(50% - 25px);
  }
}

@media (max-width: 320px) {
  main .container .products .product {
    width: calc(100% - 25px);
  }
}

main .container .products .product .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  border: 1px solid gray;
}

main .container .products .product .pic img {
  padding: 15px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

main .container .products .product .name {
  font-weight: bold;
  padding-top: 10px;
}

main .container .products .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  color: red;
  font-weight: bold;
}

.burgermenu {
  display: none;
}

@media (max-width: 768px) {
  .burgermenu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 250px;
    height: 100vh;
    background-color: white;
    z-index: 2;
  }
}

.burgermenu .close {
  background-image: url(/img/svg/close.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.burgermenu .close .st0 {
  fill: gray;
}

.burgermenu .close:active {
  background-color: #ff7f40;
}

.burgermenu .close:active .st0 {
  fill: white;
}

.burgermenu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burgermenu .links .link {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burgermenu .links .link:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.burgermenu .links .link::after {
  content: "";
  background-color: #cdcdcd;
  height: 0.5px;
  width: 80%;
  position: absolute;
  top: 160%;
  left: 10%;
}

.burgermenu .links .link a {
  text-decoration: none;
  font-weight: bold;
}

.mask.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.8;
}

.active {
  display: block;
}
/*# sourceMappingURL=index.css.map */